@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,500;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    background: rgb(11, 22, 34);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    padding: 10px;
 
}
section{
    width: 80vw;
    min-height: 100vw;;
    flex-wrap: wrap;
    margin: auto;
    display: flex;
  
  
}
section a{
    text-decoration: none;
}
section div{
    background-color: #6C63FF;
    width: 250px;
    height: 500px;
    margin-right: 20px;
    padding-top:20px ;
    margin-top: 10px;
    text-align: center;
  
    border-radius: 4px;
    
    
}
section div img{
    
    width: 200px;
    text-align: center;
}

section div h2{
    color: #FFF;
}

section div p{
    color: rgb(209, 208, 208);
   


    
}